{
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "ignorePatterns": ["*.config.js", "node_modules", "dist"]
}
